#footer {
    position: relative;
    margin: 0 auto;
    margin-top: var(--rhythm);
    padding-bottom: var(--gutter);
    width: 100%;
    max-width: var(--w-full);
    color: var(--c-fg);
    z-index: 4000;
}

#footer a,
#footer li {
    list-style: none;
}

.footer__wrapper {
    max-width: var(--w-body);
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--gutter);
}

@media (min-width: 835px) {
    .footer__wrapper {
        flex-direction: row;
    }
}

.footer__nav {
    text-align: center;
}

.footer__nav li a {
    display: inline-block;
    position: relative;
    color: var(--c-hl);
    font-size: small;
    line-height: 1;
    width: auto;
    height: fit-content;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer__nav>li:not(:first-child) {
    margin-top: 1rem;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: var(--rhythm);
    font-size: small;
}

.footer__credit svg {
  width: 50px;
  height: auto;
}

/*Steps of 0.03s*/
.footer__nav li:nth-child(1) {transition-delay: 0.03s}
.footer__nav li:nth-child(2) {transition-delay: 0.06s}
.footer__nav li:nth-child(3) {transition-delay: 0.09s}
.footer__nav li:nth-child(4) {transition-delay: 0.12s}
.footer__nav li:nth-child(5) {transition-delay: 0.15s}
.footer__nav li:nth-child(6) {transition-delay: 0.18s}
