.heading {
    padding: 0 var(--gutter);
    margin: 0 auto;
    margin-top: var(--rhythm);
    text-align: center;
    max-width: var(--width-text);
}

@media (min-width: 835px) {
    .heading {
        margin-top: var(--rhythm);
    }
}

.heading h1 {
    margin-top: 0;
    font-size: xx-large;
    line-height: 1.1;
}

@media (min-width: 835px) {
    .heading h1 {
        font-size: 48px;
    }
}

.heading .breadcrumbs {
    text-align: center;
    margin-bottom: var(--gutter);
}