#header {
	position: relative;
	display: flex;
	text-align: center;
	justify-content: center;
	padding: var(--gutter);
	z-index: 5000;
}

.header__logo svg {
	width: 81px;
    height: auto;
}

[data-page-state] #header {
  opacity: 0;
  transform: translateY(-20px);
  transition-property: opacity, transform;
  transition-duration: 0.5s;
}

[data-page-state^='complete'] #header {
  opacity: 1;
  transform: translateY(0px);
}

[data-page-state^='complete-navigating'] #header {
  opacity: 0;
  transform: translateY(-20px);
  transition-duration: 0.1s;
}