[data-scroll] {
	opacity: 0;
	transform: translateY(20px);
	transition-duration: 0.7s;
	transition-property: opacity, transform;
}

[data-scroll="out"] {
	opacity: 0;
	transform: translateY(20px);
}

[data-scroll="in"] {
	opacity: 1;
	transform: translateY(0px);
}
