[data-scroll] {
	opacity: 0;
	transform: translateY(20px);
	transition-duration: 0.4s;
	transition-property: opacity, transform;
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

[data-scroll="out"] {
	opacity: 0;
	transform: translateY(20px);
}

[data-scroll="in"] {
	opacity: 1;
	transform: translateY(0px);
}
