{% extends 'modular/module.html.twig' %}
{% set name = 'collection' %}

{% set title = title|default(page.header.display_title) %}
{% set items = items|default(page.header.items) %}
{% set col_count = col_count|default(page.header.max_columns ?? '4') %}
{% set cta_label = cta_label|default(page.header.cta_label) %}
{% set cta_url = cta_url|default(page.find(page.header.cta_destination).url) %}

{% block content %}
<div class="wrapper">
	
	{% if title %}
	<h2 class="text">{{ title }}</h2>
	{% endif %}
	
	<div class="grid grid--{{ col_count }}">
		{% for item in items %}
		{% set item = page.find(item.page) %}
		{% include 'partials/card.html.twig' %}
		{% endfor %}
	</div>

	{% if cta_label and cta_url %}
	<div class="cta-ctn">
		<a class="button" href="{{ cta_url }}">{{ cta_label }}</a>
	</div>
	{% endif %}

</div>
{% endblock %}
