{% extends 'modular/module.html.twig' %}
{% set name = 'quotes' %}

{% import 'partials/svg.html.twig' as svg %}

{% block content %}
<div class="wrapper"{% if styles %} style="{{ styles }}"{% endif %}>
		
	<div class="icon-ctn">{{ svg.quote() }}</div>

	<div class="swiper-container">
		<div class="swiper-wrapper">
			{% for item in page.header.items %}
			{% set portrait = item.portrait ? page.media[item.portrait] %}
			<div class="text swiper-slide">
				<blockquote>{{ item.quote }}</blockquote>
				<div class="source">{{ item.source }}</div>
			</div>
			{% endfor %}
		</div>
		{% if page.header.items|length > 1 %}
		<div class="swiper-pagination"></div>
		{% endif %}
	</div>	
</div>
{% endblock %}