.module.collection {}


.module.collection .wrapper {
    margin: 0 auto;
    padding: 0 var(--gutter);
    width: 100%;
    max-width: var(--w-body);
}

.module.collection h2 {
    margin: 0 0 calc(var(--rhythm)/2) 0;
    text-align: center;
}

.module.collection .grid {
    display: grid;
    grid-gap: var(--gutter);
}

.module.collection .grid,
.module.collection .grid.grid--2,
.module.collection .grid.grid--4 {
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 835px) {
    .module.collection .grid,
    .module.collection .grid.grid--4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

.module.collection a {
    text-decoration: none;
}

.module.collection .cta-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--gutter);
}

/*.module.collection a.button {}*/