/*.module.cta {}*/

.module.cta .wrapper {
    margin: 0 auto;
    padding: 0 var(--gutter);
    width: 100%;
    max-width: var(--w-body);
}

.module.cta .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;
    padding: var(--gutter);
    border-radius: var(--r-large);
    background-color: var(--c-hl-ultralite);
}

@media (min-width: 835px) {
    .module.cta .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0;
        padding: calc(var(--gutter)*2);
    }
}

/*.module.cta .content-ctn  {}*/

@media (min-width: 835px) {
    .module.cta .content-ctn {
        grid-column: 1 / span 3;
    }
}

.module.cta .content-ctn * {
    color: var(--c-hl);
}

.module.cta .content-ctn p {
    margin-top: 1rem;
    font-weight: var(--fw-bold);
}

.module.cta .cta-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 835px) {
    .module.cta .cta-ctn {
        grid-column: 4 / span 1;
    }
}

.module.cta h2 {
    margin-top: 0;
}

.module.cta .cta-ctn a {
    display: block;
    width: 100%;
}

@media (min-width: 835px) {
    .module.cta .cta-ctn a {
        display: inline-block;
        width: auto;
        padding: 20px 30px;
    }
}