/*.module.features {}*/

.module.features .wrapper {
    width: 100%;
    max-width: var(--w-body);
    margin: 0 auto;
    padding: 0 var(--gutter);
}

.module.features h2 {
    margin: 0 0 calc(var(--rhythm)/2) 0;
    text-align: center;
}

.module.features .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--rhythm);
}

@media (min-width: 735px) {
    .module.features .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10%;
    }
}

.module.features .item img {
    width: 80px;
}

.module.features h3 {
    margin-top: 1rem;
}

.module.features p {
    margin-top: 1rem;
    color: var(--c-grey);
    max-width: 90%;
}

.module.features h3 + p {
    margin-top: 1rem;
}

.module.features a {
    display: inline-block;
    color: var(--c-hl);
    font-weight: 500;
    margin-top: 1rem;
    text-decoration: none;
}