/*.page.splash {}*/

/*HEADER OVERWRITE*/
.page.splash .header__logo svg {
	color: var(--c-bg);
}

.splash__heading {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100vh;
	width: 100%;
	margin-top: calc(var(--header-height)*-1);
	background-color: var(--c-blue-dark);
	color: var(--c-bg);
	opacity: 0;
}

.splash__heading h1 {
	padding: var(--gutter);
	text-align: center;
	width: 100%;
	max-width: var(--w-text);
}

@media (min-width: 1200px) {
	.splash__heading h1 {
		font-size: 48px;
	}
}

.splash__heading .img-ctn {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}


.splash__heading img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	animation-name: splash-fadein;
	animation-delay: 1s;
	animation-duration: 10s;
	animation-fill-mode: forwards;
}

@keyframes splash-fadein {
	from { opacity: 0; transform: scale(1.3) rotate(10deg); }
	to { opacity: 0.2; transform: scale(1.1) rotate(0deg); }
}

/*PAGE-STATE TRANSITIONS*/
[data-page-state^='complete'] .splash__heading {
  opacity: 1;
  transition-duration: 0.5s;
}

[data-page-state^='complete-navigating'] .splash__heading {
  opacity: 0;
  transition-duration: 0.1s;
}




